<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
     <form action="/checkout" method="POST">
       <label for="item">Iterm:</label>
       <input type="text" name="item"><br>
       <input id="submit" type="submit" value="Submit">
    </form>
  </body>
</html>
